@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Mokoto font */
@font-face {
  font-family: 'Mokoto';
  src: url('/fonts/mokoto.regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Import Mokoto font */
@font-face {
  font-family: 'Monsterrat';
  src: url('/fonts/monsterrat.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  /* Add utility classes for the custom font */
  .font-mokoto {
    font-family: 'Mokoto', sans-serif;
  }
  .font-monsterrat {
    font-family: 'Monsterrat', sans-serif;
  }
}

@layer base {
  :root {
    /* Primary Colors */
    --dark-gray: #1C1C1C;
    --mellow-green: #8DC63F;
    
    /* Secondary Colors */
    --gray: #6D6D6D;
    --dark-lime-green: #369C2A;
    
    /* Tertiary Colors */
    --dark-blue: #28234F;
    --black: #000000;
    --white: #FFFFFF;
    
    /* Theme Variables */
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --primary: 142 50% 39%; /* dark lime Green */
    --primary-foreground: 0 0% 100%;
    --secondary: 84 48% 51%; /* Mellow Lime Green */
    --secondary-foreground: 0 0% 100%;
    --accent: 254 39% 22%; /* Very Dark Desaturated Blue */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 84 48% 51%;
    --chart-1: 84 48% 51%;
    --chart-2: 142 50% 39%;
    --chart-3: 254 39% 22%;
    --chart-4: 0 0% 11%;
    --chart-5: 0 0% 43%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 11%; /* Dark Gray */
    --foreground: 0 0% 100%;
    --muted: 0 0% 43%; /* Gray */
    --muted-foreground: 240 5% 84.9%;
    --popover: 0 0% 11%;
    --popover-foreground: 0 0% 100%;
    --card: 0 0% 11%;
    --card-foreground: 0 0% 100%;
    --border: 0 0% 43%;
    --input: 0 0% 43%;
    --primary: 84 48% 51%; /* Mellow Green */
    --primary-foreground: 0 0% 11%;
    --secondary: 142 50% 39%; /* Dark Lime Green */
    --secondary-foreground: 0 0% 100%;
    --accent: 254 39% 22%; /* Very Dark Desaturated Blue */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --ring: 84 48% 51%;
    --chart-1: 84 48% 51%;
    --chart-2: 142 50% 39%;
    --chart-3: 254 39% 22%;
    --chart-4: 0 0% 11%;
    --chart-5: 0 0% 43%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@theme inline {
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}